<ion-view view-title="关于云管家">
	<ion-nav-bar class="bg-color white" align-title="center">
       <ion-nav-buttons side="left">
         <button class="button button-icon button-clear ion-navicon " style="color: #FFFFFF" menu-toggle="left"></button>
       </ion-nav-buttons>
     </ion-nav-bar>
	<ion-content>
		<div class="row" style="height: 200px;">
			<div class="col col-center">
				<center><img src="img/logo.png"/>
				</center>
			</div>
		</div>
		<div class="">
			<ul class="list">
				<li class="item">
					官网地址：www.biash.com
				</li>
				<li class="item">
					地址：广州市天河区圣堂路圣堂工业区1号4楼
				</li>
				<li class="item">
					联系电话：020-87234331
				</li>
				<li class="item">
					客服QQ：984471817
				</li>
			</ul>
		</div>
		<div class=""style="text-align: center">
			<h5>贺氏办公设备有限公司&nbsp;&nbsp;版权所有</h5>
			<h6>copyright©2015Heshi.</h6>
			<h6>All Rights Reserved.</h6>
		</div>
	</ion-content>
</ion-view>
