<div id="dateDiv">
		<!--<h4 style="text-align:center;">查询条件</h4>
		<hr />-->
		<div class="row stable-bg no-padding" id ="queryDiv1" style="background:#EAEAEA;">
			<ul class="list">
				<label class="item item-input-inset">
					<div class="input-label">
						开始时间
					</div>
					<!--<div class="row" ng-click="showDatePicker(0,$event)">
						<span class="col-80" ng-bind="data.startTime"></span>
						<span class="col-20 col-center Wdate" ng-bind=""></span>
					</div>-->
					<input type="text" class="Wdate" value="data.startTime"  ng-model="data.startTime" ng-click="showDatePicker(0,$event)" id="startTime" style="height:25px;width:132px;padding:0px;" readonly="true">
				</label>
				<label class="item item-input-inset">
					<div class="input-label">
						结束时间
					</div>
					<input type="text" class="Wdate" value="data.endTime"  ng-click="showDatePicker(1,$event)" ng-model="data.endTime" id="endTime" style="height:25px;width:132px;padding: 0px;" readonly="true">
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						收银员
					</div>
					<select ng-model="data.employeeId" ng-init='data.employeeId = undefined'>
						<option value="" selected>全部</option>
						<option ng-repeat="item in employeeList" value="{{item.id}}" ng-selected='$parent.data.employeeId === $index'>{{item.workName}}</option>
					</select> </label>
				<label class="item item-input item-select">
					<div class="input-label">
						销售类型
					</div>
					<select ng-model="data.sellType">
						<option value="" selected>全部</option>
						<option value="0">正常销售</option>
						<option value="1">外卖</option>
						<option value="2">退货</option>
					</select> </label> 				
				<label class="item item-input item-select">
					<div class="input-label">
						状态
					</div>
					<select ng-model="data.status">
						<option value="" selected>全部</option>
						<option value="-1">挂起</option>
						<option value="0">下单</option>
						<option value="1">完成</option>
						<option value="2">已作反结账</option>
						<option value="3">取消</option>
					</select> </label>
			</ul>
		</div>
		<div class="row no-padding">
			<div class="col col-50">
				<button class="button button-small button-block button-calm" ng-click="hideQuery();">
					取消
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-small button-block button-calm" ng-click="query();">
					确定
				</button>
			</div>
		</div>
		<div id="dateQueryDiv" ng-hide="!data.isShowPicker" style="position:absolute;left:0px;z-index:999;"></div>
	</div>
