<ion-view view-title="交接班记录" name="handover-view" ng-controller="HandoverCtrl">
	<ion-nav-bar class="bg-color white" align-title="center">
       <ion-nav-buttons side="left">
         <button class="button icon ion-ios-arrow-left button-clear"style="color: #FFFFFF" ng-click="goBack();"></button>
       </ion-nav-buttons>
       <ion-nav-buttons side="right" >
      	 <!--<button class="button button-clear" ng-click="showQuery()"><img ng-src="icon/funnel.png" style="width: 22px;height: auto;margin-top: 5px;"></button>  -->
       	 <button class="button button-clear" ng-click="showQuery()" style="color:#ffffff;font-size:14px">筛选</button>
       </ion-nav-buttons>
     </ion-nav-bar>

	<!--  <div class="bar bar-header bg-color">
		<div class="button-bar">
			<div class="buttons right-buttons">
				<button class="button icon ion-ios-arrow-left button-clear"style="color: #FFFFFF" ng-click="goBack();"></button>
				<h1 class="title white">交接班记录</h1>
				<button class="button button-clear" ng-click="showQuery()"><img ng-src="icon/funnel.png" style="width: 22px;height: auto;margin-top: 5px;">
				</button>
			</div>
		</div>
	</div>-->
	<!--<div class="scroll-content has-header">-->
		<!--<div class="row" id ="queryDiv" style="height:220px;padding:0px;display: none;position:absolute;top: 0;left: 0;z-index: 999999;background:#EAEAEA;">-->
			<!--<ul class="list">-->
				<!--<label class="item item-input item-select">-->
					<!--<div class="input-label">-->
						<!--开始时间-->
					<!--</div>-->
					<!--<input type="text" value=""  onclick="WdatePicker()" ng-model="data.startTime" id="startTime" style="height:25px;padding: 0px;" readonly="true">-->
				<!--</label>-->
				<!--<label class="item item-input item-select">-->
					<!--<div class="input-label">-->
						<!--结束时间-->
					<!--</div>-->
					<!--<input type="text" value=""  onclick="WdatePicker()" ng-model="data.endTime" id="endTime" style="height:25px;padding: 0px;" readonly="true">-->
				<!--</label>-->
				<!--<label class="item item-input item-select">-->
					<!--<div class="input-label">-->
						<!--收银员-->
					<!--</div>-->
					<!--<select ng-model="data.employeeId">-->
						<!--<option>全部</option>-->
						<!--<option ng-repeat="item in employeeList" value="{{item.id}}">{{item.workName}}</option>-->
					<!--</select> </label>-->
				<!--<div class="row no-padding">-->
					<!--<div class="col col-50">-->
						<!--<button class="button button-block button-calm" ng-click="hideQuery();">-->
							<!--取消-->
						<!--</button>-->
					<!--</div>-->
					<!--<div class="col col-50">-->
						<!--<button class="button button-block button-calm" ng-click="query();">-->
							<!--确定-->
						<!--</button>-->
					<!--</div>-->
				<!--</div>-->
		<!--</div>-->
		<!--</div>-->

		<ion-content class="has-header" delegate-handle="handMainScroll">
			<ul class="list margin-b">
				<li class="item item-icon-right" ng-repeat="item in handoverList" ng-click="toDetail(item)">
					<h2  style="color: red;font-size: 18px">日期：{{item.startTime| date:'MM-dd'}}</h2>
          			<p style="color: black;font-size: 14px">收银员：{{item.workName}}</p>
					<p style="color: black;font-size: 14px">时间段：{{item.startTime| date:'HH:mm'}}~{{item.endTime| date:'HH:mm'}}</p>
					<i class="icon ion-ios-arrow-right"></i>
				</li>
			</ul>
			<div class="row" ng-show="handoverList.length<1">
				<div class="col col-100">
					<center class="assertive">
						暂无数据
					</center>
				</div>
			</div>
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		</ion-content>
	

</ion-view>
